#slider-block3{
    background: rgb(41, 65, 171);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url("https://content-tooling.spotifycdn.com/images/b236bf87-bfd5-4bcb-b51a-77881073039c_lie_circles.svg");
    background-position: right center
}
#slider-block3 article{
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    min-height: 600px;
}
#slider-block3 article .sliderLeft3{
flex-basis: 60%;
}
#slider-block3 article .sliderRight3{
flex-basis: 40%;
display: flex;
align-items: center;
justify-content: center;
}

.sliderLeft3{
    color:#1ed760;
    margin: 80px 0;
}
.sliderLeft3 h4{
    padding-bottom: 50px;
    font-size: 14px;
}
.sliderLeft3 h1{
    font-size: 3.5em;
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 40px;
}
.enjoy3{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 50px;
    letter-spacing: 1.3px;
    /* margin-bottom: 50px; */
}
.sliderLeft3 button{
    padding: 17px 48px;
    border-radius: 500px;
    border: none;
    background: #1ed760 !important;
    color: #2941AB;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-weight: bold;
margin-bottom: 50px;
}
/* .sliderRight3 figure{
    background:url(./image.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    height: 100%;
    background-position: center center;
} */

.copyWrite3{
    font-size: 13px;
}

